body{
margin: 0;
padding: 0;
min-height: 100vh;
overflow-y: auto;
background-image: url(https://img.getimg.ai/generated/img-UCf62FaSci9Cum6wwB5qF.jpeg) !important;
background-size: cover;  /* Ensure the image covers the whole page */
background-repeat: no-repeat;  /* Prevent the image from repeating */
background-position: center center;  /* Center the image */
background-attachment: fixed;
}
#navbar {
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    margin-right: auto;
    flex: left;
    margin-left: 0px !important;
    box-shadow: 3px 4px 1cap 4px #b2d8d8cc;
    overflow-x: hidden;
  }
  #navbar ul {
    height: 100%;
    padding: 0;
    width: 300px;
  }
  
  #navbar li {
    color: #000;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    padding: 2%;
    text-align: center;
    background-color:#999999cc
  }

  @media screen and (max-width: 100%){ 
    #navbar{padding:0px}
    
  }
  #directoryBox{
   overflow: hidden;
   width: 75% !important;
   margin-left: 15%;
   margin-right: 3%;
   margin-top: 40%;
   margin-bottom: 10%;
   background-color: #999999cc;
   padding: 40px;
   box-shadow: 3px 4px 1cap 4px #b2d8d8cc;
   border-radius: 4px;
   text-align: center;
   text-wrap: wrap;
  }
  #directoryBox p{
    padding-bottom: 15px;
    border-bottom: 1px solid;
  }
  img{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 20%;
    margin-left: 2%;
  }
  span{
    overflow: hidden;
  }
  header{
    border: 1px solid #4d4e53;
    width: 45%;
    margin-left: 30%;
    margin-top: 1%;
  }
  #testBox{
    width: 50%;
    position: absolute;
    top: 250px;
    right: 170px;
    background-color: #999999cc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 3px 4px 1cap 4px #b2d8d8cc;
  }
  #goHomeKagome{
    background-color: #999999cc;
    color: #b2d8d8;
    width: 10%;
    padding: 5px;
    position: absolute;
    right: 30px;
    top: 40px;
    text-shadow: 1px 2px 2px #000;
    

  }
  #titleText{
    color: #000;
  }
.flex-container{
 display: flex;
}
#backToTopBtn {
  display: none; /* Initially hide the button */
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #b2d8d8;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#backToTopBtn:hover {
  background-color: #004c4c;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;

}
.sidebar a:hover {
  background-color: #575757;
}
.content {
  margin-left: 270px;
  padding: 20px;
  flex: 1;
}